/* fonts */
@font-face {
  font-family: "Earth_2073";
  src: url(fonts/Earth_2073.ttf);
}

@font-face {
  font-family: "Courier New";
  src: url(fonts/COUR.TTF);
}

body {
  background-color: #C1CDB9;
}

#co {
  width: 100%;
  max-width: 1311px;
}

#poly {
   border: 1px solid red;
  height: 120px;
  filter: drop-shadow(-5px 0 black);
  transition: 200ms ease;
  margin: 70px 8px 0px -30px;

}

#poly:hover {
  filter: drop-shadow(5px 0 cyan);
}

p {
  font-family: monospace;
  font-size: 15px;
}

h1 {
  font-family: "Earth_2073";
  font-size: 100px;
  text-shadow: -5px 0 orange;
  z-index: 1;

   border: 1px solid red;
}

p{
  font-family: "Courier New";
}

.logo {

  margin-left: 5px;
  display: flex;
  align-items: center;
   border: 1px solid green;
}



#book {
  transition: 200ms ease;
}

#book:hover {
  filter: drop-shadow( -5px  5px 0 black);
  position: relative;
  top: -2px;
}
