
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
  font-family: Earth-2073;
  src: url(fonts/Earth_2073.ttf);
}

@font-face {
  font-family: "Courier New";
  src: url(fonts/COUR.TTF);
}

@font-face {
  font-family: "Courier New B";
  src: url(fonts/COURBD.TTF);
}

@font-face {
  font-family: Network;
  src: url(fonts/Network.ttf);
}

@font-face {
  font-family: "Andale Mono";
  src: url(fonts/andalemo.ttf);
}

/* GLOBAL STYLES */
body {
  background-color: whitesmoke;
}

/* DOM Elements - topdown */

#logo {
  max-width: max-content;
  margin: 5px;
  padding: 15px;
  max-height: 50px;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: -2px 2px 0 black;
  /* background-color: white; */
  display: inline-flex;
}

h1 {
  font-family: network;
  font-size: 4em;
  font-weight: bolder;
  text-shadow: -3px 0 orange;
  color: black;
  z-index: 1;
  /* border: 1px solid black; */
  display: inline-block;
}

#poly {
  border: 1px solid black;
  padding: 3px;
  height: 60px;
  filter: drop-shadow(-5px -2px 0 black);
  transition: 200ms ease;
  margin: 30px 0px 0px -5px;
  display: inline-block;
}

#poly:hover {
  filter: drop-shadow(5px 2px 0 white) invert(1);
}

hr {
  width: 20%;
  margin: auto;
  border: none;
  background-color: black;
  height: 2px;
}


/* .contact {
  display: inline-block;
  vertical-align: bottom;
}

.contact a {
  font-family: "Andale Mono", Courier, monospace;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  text-shadow: -2px 2px white;
  transition: text-shadow 200ms ease;
}

.contact a:hover {
  font-weight: 700;
  text-shadow: 2px 2px cyan;
} */

/* Current/active navblock link */
.active {
  background-color: orange;
}

.navblock {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  min-height: 70px;
  position: relative;
  margin: 100 auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  animation: typing 5.5s steps(80, end);
}

/* navblock links */
.navblock p,
.navblock a,
.navblock span {
  font-family: "Andale Mono", monospace;
  min-height: 3px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  max-width: max-content;
  border: 1px solid black;
  border-radius: 3px;
}

/* navblock links on mouse-over */
.navblock a:hover {
  background-color: black;
  color: white;
}

.navblock p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* style */
.typeabout span {
  max-width: 50%;
  padding: 2px;
  font-size: 1em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border: 1px solid orange; /* The typwriter caret */
  border-radius: 3px;
  white-space: normal;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(50, end);
  /* , blink-caret 0.5s step-end infinite (place in: animation)*/
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */


@media only screen and (max-width: 768px){
  
  .typeabout span {
    animation: none;
    word-wrap: normal;
  }
  
  li a {
    animation: none;
    word-wrap: normal;
  }
}

h2 {
  font-family: "Andale Mono", monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border: solid 3px black;
  width: max-content;
}

ul {
  text-align: center;
  list-style-type: none;
  /* border: 1px solid red; */
  /* box-shadow: 3px 0 black; */
  border-radius: 10px;
  line-height: 300%;
  /* max-width: 50vw; */
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.7em;
}

li {
  font-family: "Andale Mono", monospace;
  margin: 0 auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  animation: typing 3.5s steps(80, end);
}

li a {
  padding: 10px;
  color: black;
  text-decoration: none;
  /* border: solid 3px black; */
  text-shadow: -2px 2px white;
  transition: text-shadow 200ms ease;
}

li a:hover {
  background-color: #0053e5;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px black;
  text-decoration: none;
}

footer {
  font-family: "Andale Mono", monospace;
  margin: 0 auto;
  text-align: center;
}
footer a{
  padding: 10px;
  color: black;
  text-decoration: none;
  text-shadow: -2px 2px white;
  transition: text-shadow 200ms ease;
}

footer a:hover {
  background-color: #0053e5;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px black;
}