@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Fonts */
@font-face {
  font-family: Earth-2073;
  src: url(fonts/Earth_2073.ttf);
}

@font-face {
  font-family: "Courier New";
  src: url(fonts/COUR.TTF);
}

@font-face {
  font-family: "Courier New B";
  src: url(fonts/COURBD.TTF);
}

@font-face {
  font-family: Network;
  src: url(fonts/Network.ttf);
}

@font-face {
  font-family: "Andale Mono";
  src: url(fonts/andalemo.ttf);
}


/* DOM Elements - chronological to HTML....except for navblock. navblock is ahead of everything. */

.navblock {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  min-height: 70px;
  position: relative;
  margin: 100 auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  animation: typing 5.5s steps(80, end);
}

.hidden {
  display: none;
}

/* navblock links */
.navblock p,
.navblock a,
.navblock span {
  font-family: "Andale Mono", Courier, monospace;
  min-height: 3px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  max-width: max-content;
  border: 1px solid black;
  border-radius: 3px;
}

/* navblock links on mouse-over */
.navblock a:hover {
  font-weight: bolder;
  box-shadow: -3px 0 black;
}

.navblock p:hover {
  font-weight: bolder;
  box-shadow: -3px 0 black;
  cursor: pointer;
}

/* GLOBAL STYLES */
/* body {
  background: #3340;
  padding-top: 5em;
  display: flex;
  justify-content: center;
} */

/* style */
.typeabout span {
  max-width: 25%;
  font-size: 15px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border: 1px solid orange; /* The typwriter caret */
  border-radius: 3px;
  white-space: normal;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(50, end);
  /* , blink-caret 0.5s step-end infinite (place in: animation)*/
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */

/* Current/active navblock link */
.active {
  background-color: orange;
}

#logo {
  max-width: max-content;
  margin: 5px;
  padding: 15px;
  max-height: 50px;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: -2px 2px 0 black;
  /* background-color: white; */
  display: inline-flex;
}

h1 {
  font-family: Anonymous Pro;
  font-size: 50px;
  font-weight: 500;
  text-shadow: -3px 0 orange;
  color: black;
  z-index: 1;
  border: 1px solid black;
  display: inline-block;
}

#poly {
  border: 1px solid black;
  height: 70px;
  filter: drop-shadow(-5px 0 black);
  transition: 200ms ease;
  margin: 45px 5px 0px -10px;
  display: inline-block;
}

#poly:hover {
  filter: drop-shadow(5px 0 white) invert(1);
}

.contact {
  display: inline-block;
  vertical-align: bottom;
}

.contact a {
  font-family: "Andale Mono", Courier, monospace;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-shadow: -1px 0 black;
  transition: text-shadow 200ms ease;
}

.contact a:hover {
  color: cyan;
  text-shadow: -2.5px 0 black;
}

ul {
  height: 500px;
  text-align: center;
  list-style-type: none;
/*   border: 1px solid red; */
  /* box-shadow: 3px 0 black; */
  border-radius: 10px;
  line-height: 300%;
  /* max-width: 50vw; */
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 25px;
}

li {
  font-family: "Andale Mono", monospace;
  margin: 0 auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  animation: typing 3.5s steps(80, end);
}
li a {
  padding: 10px;
  color: black;
  text-decoration: none;
/*   border: solid 3px black; */
  text-shadow: -2px 2px white;
  transition: text-shadow 200ms ease;
}

li a:hover {
  background-color: yellow;
  font-weight: 700;
  text-shadow: 2px 2px cyan;
  text-decoration: none;
}
